<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Hotel Siddharth
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="../assets/css/datepicker.css">
</head>

<body class="">
  <div class="wrapper ">
    <%- include ("../views/partials/sidebar.ejs") %>

    <div class="main-panel">
      <%- include ("../views/partials/header.ejs") %>
        
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title">New Entry</h5>
              </div>
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-2 pr-1">
                      <div class="form-group">
                        <label>Sr.No.</label>
                        <input type="text" class="form-control" disabled="" placeholder="Company" value="1111">
                      </div>
                    </div>
                    <div style="display:none;" class="col-md-4 px-1">
                      <div class="form-group">
                        <label>Full Name</label>
                        <input type="text" class="form-control" placeholder="Full Name" value="michael23">
                      </div>
                    </div>
                    <div style="display:none;"class="col-md-2 pl-1">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Age</label>
                        <input type="number" class="form-control" placeholder="Age">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3 pr-1">
                      <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" placeholder="First Name" value="Chet">
                      </div>
                    </div>
                    <div class="col-md-3 pl-1">
                      <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name" value="Faker">
                      </div>
                    </div>
                    <div class="col-md-1 pl-1">
                      <div class="form-group">
                        <label>Age</label>
                        <input type="number" class="form-control" placeholder="Age" value="10">
                      </div>
                    </div>
                    <div class="col-md-2 pl-1">
                      <div class="form-group">
                        <label>Sex</label>
                        <br>
                        <label style="font-size:15px;" class="radio-inline"><input style="height:15px; width:15px" type="radio"  name="optradio">  Male</label>
                        <br>
                        <label style="font-size:15px;" class="radio-inline"><input style="height:15px; width:15px" type="radio" name="optradio">  Female</label>
                      </div>
                    </div>
                  </div>
                  <hr style="color:black;background-color:grey;">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" placeholder="Home Address" value="Melbourne, Australia">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label>City</label>
                        <input type="text" class="form-control" placeholder="City" value="Melbourne">
                      </div>
                    </div>
                    <div class="col-md-4 px-1">
                      <div class="form-group">
                        <label>Country</label>
                        <input type="text" class="form-control" placeholder="Country" value="Australia">
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label>Postal Code</label>
                        <input type="number" class="form-control" placeholder="ZIP Code">
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label>Profession At Present</label>
                        <input type="text" class="form-control" placeholder="Profession">
                      </div>
                    </div>
                    <div class="col-md-3 pr-1">
                      <div class="form-group">
                        <label>No of persons</label>
                        <input type="number" class="form-control" placeholder="No of persons">
                      </div>
                    </div>
                    <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label>Reason for Visit</label>
                        <input type="text" class="form-control" placeholder="Reason for visit">
                      </div>
                    </div>
                  </div>
                  <hr style="color:black;background-color:grey;">
                  
                  <div class="row">
                    <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label>Arrival Date</label>
                        <input id="datepicker" type='text' class="form-control" placeholder="Select date" >
                      </div>
                    </div>
                    <div class="col-md-2 pr-1">
                      <div class="form-group">
                        <label>Arrival Time</label>
                        <input id="timepicker" type="text" class="form-control timepicker" value="14:00">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label>From here visitor tends to visit</label>
                        <input type="text" class="form-control" placeholder="Destination">
                      </div>
                    </div>
                    <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label>Approx Stay</label>
                        <input type="number" class="form-control" placeholder="No. of days">
                      </div>
                    </div>
                  </div>
                  <hr style="color:black;background-color:grey;">

                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <button type="submit" class="btn btn-primary btn-round">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include ("../views/partials/footer.ejs") %>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <script src="../assets/js/plugins/bootstrap-datepicker.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/demo/demo.js"></script>
  <!-- TimePicker And DatePicker -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>  
  <script src="https://rawgit.com/creativetimofficial/material-kit/master/assets/js/plugins/moment.min.js"></script>
  <script src="https://rawgit.com/creativetimofficial/material-kit/master/assets/js/plugins/bootstrap-datetimepicker.js"></script>
    
</body>

    <script type="text/javascript">
      $('#datepicker').datepicker({format:"dd/mm/yyyy"}); 
      $('.timepicker').datetimepicker({
             format: 'h:mm A',    //use this format if you want the 12hours timpiecker with AM/PM toggle
             icons: {
                 up: "fa fa-chevron-up",
                 down: "fa fa-chevron-down",  
             }
          });
    </script>

</html>