<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a href="https://www.creative-tim.com" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="../assets/img/logo-small.png">
        </div>
      </a>
      <a href="https://www.creative-tim.com" class="simple-text logo-normal">
        Creative Tim       
      </a>
      
    </div>
    
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li id="liDashboard">
          <a href="./dashboard">
            <i class="nc-icon nc-bank"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li id="liUser">
          <a href="./user">
            <i class="nc-icon nc-single-02"></i>
            <p>New Entry</p>
          </a>
        </li>
        <li id="liTables">
          <a href="./tables">
            <i class="nc-icon nc-tile-56"></i>
            <p>Customer Info</p>
          </a>
        </li>
        <li id="liStatistics">
          <a href="./statistics">
            <i class="nc-icon nc-caps-small"></i>
            <p>Statistics</p>
          </a>
        </li>
        <li id="liIcons">
          <a href="./icons">
            <i class="nc-icon nc-diamond"></i>
            <p>Icons</p>
          </a>
        </li>
        <li id="liMap">
          <a href="./map">
            <i class="nc-icon nc-pin-3"></i>
            <p>Maps</p>
          </a>
        </li>
        <li id="liNotifications">
          <a href="./notifications">
            <i class="nc-icon nc-bell-55"></i>
            <p>Notifications</p>
          </a>
        </li>
        <li id="liTypography">
          <a href="./typography">
            <i class="nc-icon nc-caps-small"></i>
            <p>Typography</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <script>    
     document.getElementById(<%- liattribute %>).className="active"
  </script>
 